body{
    background: linear-gradient(147deg, rgba(167, 250, 159, 0.6) 4%, rgba(253, 252, 179, 0.5) 96%);    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header{
    text-align: center;
}

.header h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-shadow: 3px 2px #2A698D;
    color: #ffba00;
}

.canvas {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
}

#file-input {
    z-index: 1;
    position: relative;
    left:52%;
    transform: translateX(-60%);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #2A698D;
}
#three-canvas{
    position: relative;
    height: 100% !important;
    width: 100% !important;
    z-index: 10;
}

/* .bim-app {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.tree-menu {
    background-color: white;
    padding: 2rem;
    width: 30%;
    max-height: 100vh;
    overflow: auto;
}

.leaf-node {
    margin-left: 2rem;
}

ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 100;
    padding: 100;
}

#viewer-container {
    position: relative;
    width: 70%;
    height: 100vh;
} */